.dealer-car-list{
	margin-top: -19px !important;
	margin-left: -5px !important;
	margin-right: -5px !important;
	margin-bottom: -39px  !important;
}

#dealer-content{
	background:none !important;
	-moz-box-shadow: 0px 0px 0px 0px rgba(85,85,85,0.49);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(85,85,85,0.49);
	box-shadow: 0px 0px 0px 0px rgba(85,85,85,0.49);
}

.d-info {
}

.d-info ul li {
	padding: 0 10px 0 57px;
}

.dis-over .d-info ul li:first-child {
	padding: 0 10px 0 57px;
}


#dealer-content{
	background:transparent!important;
	box-shadow:none!important;
	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
}

.search-wrapper{
	margin-bottom:50px;
	
}

.my-account h3 {
	color:#195279;
	margin-bottom:0px;
}

.additional-selections{
	height: 180px;
    overflow-y: scroll;
}

.name-capitalize{
	text-transform:capitalize;
}